<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmSys</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/manager/sales.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/plus.png">

</head>
<body>
    <nav>
        <div id="navheading">
            <h1 >PharmSys</h1>
            <img src="/images/plus.png" alt="A Hospital Sign">
        </div>
        
        <a class="navbtn" href="/manager/addmed">Add Medicine</a>
        <a class="navbtn" href="/manager/emp">Employees</a>
        <a class="navbtn" href="/manager/sales">Sales</a>

        <a class="navbtn" href="/recep">Receptionist</a>
    </nav>
    
    <h1>Sales</h1>
    <p id="status"></p>
    <div id="cont">

    </div>

    <div id="btncont">
        <button class="btns" id="prevbtn">Previous</button>
        <button class="btns" id="nextbtn">Next</button>
    </div>
    <script src="/scripts/manager/sales.js"></script>
</body>
</html>