body > h1{
    text-align: center;
    font-size: 3rem;
    color: var(--dark_blue);
}

.trans{
    text-align: center;
    
}

.btns{
    width: 10%;
    height: 7vh;
    border-radius: 1rem;
    border: 1px solid var(--dark_blue);
    outline: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: var(--dark_blue);
    font-weight: bold;
    background-color: var(--light_blue);
}

.btns:hover{
    background-color: var(--dark_blue);
    color: white;
    transition: 0.5s;
}

#btncont{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#status{
    display: flex;
    flex-direction: row;
    justify-content: center;
}